* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container {
    width: 75%;
    margin: 0 auto;
}


.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat' , sans-serif;
}

/* fine common */


/* header */

header {
    margin-bottom: 20px;
}

.menu {
    margin-bottom: 10px;
}

#logo img {
    height: 70px;
    padding-right: 15px;
    border-right: 1px solid lightgrey;
}

nav {
    margin-top: 40px;
    margin-bottom: 40px;
}

nav ul {
    text-transform: uppercase;
}

nav li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    padding-right: 10px;
}

nav li a {
    color: lightgrey;
    text-decoration: none;
}

.banner {
    position: relative;
    height: 500px;
    color: white

}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1%;
   
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;

}


.banner-text {
    position: absolute;
    bottom: 50px;
    padding-left: 20px;
    
}

.pdiff {
    color: lightgrey;
}


/* fine header */


/* main */

.col {
    float: left;
    padding: 10px;
}

.col-left,
.col-right {
    width: calc(100% / 5);
}

.col-center {
    width: calc((100% / 5) * 3);
}

/* fine main */

/* footer */
footer {
    height: 30px ;
}

/* fine footer */


